---
layout: page
title: Resources
permalink: /resources/
---
<h1 class="major">Resources</h1>
<h2>Windows Links</h2>
<div class="table-wrapper">
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% for item in site.data.files %}
			{% if item.category == "windows" %}
				<tr>
					<td>{{ item.docname }}</td>
					<td>{{ item.description }}</td>
					<td><a href="{{ item.filepath }}" target="_blank" class="button small">Download</a></td>
				</tr>
			{% endif %}
		{% endfor %}
		</tbody>
	</table>
</div>
<br><br>

<h2>Linux Links</h2>
<div class="table-wrapper">
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% for item in site.data.files %}
			{% if item.category == "linux" %}
				<tr>
					<td>{{ item.docname }}</td>
					<td>{{ item.description }}</td>
					<td><a href="{{ item.filepath }}" target="_blank" class="button small">Download</a></td>
				</tr>
			{% endif %}
		{% endfor %}
		</tbody>
	</table>
</div>
<br><br>

<h2>Packet Tracer Links</h2>
<div class="table-wrapper">
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% for item in site.data.files %}
			{% if item.category == "pt" %}
				<tr>
					<td>{{ item.docname }}</td>
					<td>{{ item.description }}</td>
					<td><a href="{{ item.filepath }}" target="_blank" class="button small">Download</a></td>
				</tr>
			{% endif %}
		{% endfor %}
		</tbody>
	</table>
</div>
